@model ALLINONE.DATA.PurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Porequisition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porequisition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terms)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
